body {
	background-color: floralwhite;
	margin: 0px;
}

header{
	background-color: black;
	height: 20%;
	width: 100%;
	padding: 10px;
}

header a {
	color : floralwhite;
	background-color: #FF307B;
	float: right;
	text-align: center;
	padding: 17px;
	border-radius: 100px;
	font-size: 15px;
	text-decoration: none;
}

section#log {
	margin-left: 200px;
	padding: 30px 60px;
	background-color: floralwhite;
	color: black;
	height:70%;
	width:100%;
	overflow-y: scroll;
}

section#log fieldset {
	border: 1px solid black;
	width: 300px;
	height: 320px;
	margin: 0;
	position: absolute;
	padding: 30px 40px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: auto;
}

section#log fieldset div#s1 input {
	width: 100%;
	height: 30px;
}

section#log fieldset div#s2 {
	text-align: center;
	padding-top: 35%;
}

section#log fieldset div#s3 {
	text-align: center;
}

#error {
	color: firebrick;
	text-align: center;
}

img{
	height: 10em;
	width: auto;
}

legend {
	color: #FF307B;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
}