body {
    background-color: #363434;
    margin: 0;
}

section.contentsUsuario img{
    width: 15em;
	height: 15em;
    text-align: center;
	margin-left: 5%;
	border-radius: 50%;
}

section.contentsUsuario div.contenido {
	width: auto;
    height: 40%;
	color: white;
	position: absolute;
	margin-left: 30%;
	margin-top: 5%;
}

section.contentsUsuario h3 a {
    color: rgb(255,251,251);
    text-decoration: none;
}

section.contentsUsuario h3 a:hover {
    text-decoration: underline;
}

section.contentsUsuario {
    margin-left: 100px;
    margin-bottom: 100px;
    height: 100%;;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
}

section.contentsUsuario h3 {
    color: rgb(255, 251, 251);
}

section.contentsUsuario h1 a {
    color: #FF307B;
}

section.contentsUsuario legend{
    color: #FF307B;
}

section.contentsUsuario fieldset{
    color: rgb(255,251,251);
}

section.contentsUsuario a.activar {
    color : floralwhite;
    background-color: #FF307B;
    text-align: center;
    padding: 0.75em;
    border-radius: 1em;
    font-size: 15px;
    text-decoration: none;
    height: fit-content;
    float: right;
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 75%;
}

section.contentsUsuario a.activado {
    color : #FF307B;
    background-color: floralwhite;
    text-align: center;
    padding: 0.75em;
    border-radius: 1em;
    font-size: 15px;
    text-decoration: none;
    height: fit-content;
    float: right;
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 75%;
}

section.contentsUsuario a.activar:hover, section.contentsUsuario a.activado:hover {
    cursor: pointer;
}
