nav {
    background-color: black;
    width: 100px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

nav header.sidebarHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: white;
    color: white;
    margin-bottom: 2%;
}

nav header p{
    margin-top: auto;
    color: white;
}

nav header.sidebarHeader span{

    background-color: rgb(0, 0, 0);
    height: 98px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;

}

nav header.sidebarHeader span .logo img{
    width: 160px;
}

nav section.sidebarSection{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
nav section.sidebarSection ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}
nav section.sidebarSection ul li a.icon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
nav section.sidebarSection ul li{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}
nav section.sidebarSection ul li figure{
    color: rgb(255, 251, 251);
}
nav section.sidebarSection ul li figure figcaption{
    font-size: 10px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav header.sidebarHeader a.out{
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}
nav section.sidebarSection span hr{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(163, 163, 163);
}

nav::-webkit-scrollbar {
    width: 0;
    background: transparent;
}