body {
    background-color: #363434;
    margin: 0;
}

section.contentsNoticia{

    margin-left: 11%;
    height: 100%;
	width:89%;
    background-color: #363434;
	color: rgb(255, 251, 251);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}

section.contentsNoticia h1
{
	height: 10%;
	width: 100%;
	text-align: center;
	margin: 0;
}

section.contentsNoticia div
{
	margin: 0;
	margin-bottom: 4%;
}

section.contentsNoticia section.noticia {
    display: grid;
    grid-template-columns: 5% 18% 77%;
    height: 15em;
    margin: 5%;
    margin-bottom: 10%;
}

section.contentsNoticia section.noticia div.imagen {
    grid-column-start: 2;
    grid-column-end: 2;
	height: 15em;
    object-fit: cover;
}
section.contentsNoticia section.noticia div.imagen img{
    width: 100%;
    height: 100%;
}

section.contentsNoticia section.noticia div.aprobar{
    width: 100%;
	height: 2%;
}

section.contentsNoticia section.noticia div.texto {
    grid-column-start: 3;
    grid-column-end: 3;
    height: 15em;
	background-color: white;
    color: rgb(44, 44, 44);
}

section.contentsNoticia section.noticia div.checkbox {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}

section.contentsNoticia input.boton {
    float: right;
    width: 15%;
    height: 5%;
    background-color: #FF307B;
    color: white;
    margin: 1%
}
section.contentsNoticia input.boton:hover{
    text-decoration: none;
    cursor: pointer;
}

/*version usuario*/

section.contentsNoticia div.not div img{
    width: 100%;
    height: 100%;
}

section.contentsNoticia div.not div.imagen {
    width: 20%;
    height: 15em;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
}
section.contentsNoticia div.not div.texto {
    width: 78%;
    height: 15em;
    background-color: rgb(44, 44, 44);
    color: white;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
}

section.contentsNoticia::-webkit-scrollbar {
    width: 7px;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);

}
section.contentsNoticia::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 7px;
    background-color: white;

}

section.contentsNoticia a.activar {
    color : floralwhite;
    background-color: #FF307B;
    text-align: center;
    padding: 0.75em;
    border-radius: 1em;
    font-size: 15px;
    text-decoration: none;
    height: fit-content;
    float: right;
    margin-top: 2%;
    margin-left: 85%;
}

section.contentsNoticia a.activar:hover{
    cursor: pointer;
}