body {
    background-color: #363434;
    margin: 0;
}

section.contents{
	margin-top: 5%;
    margin-left: 11%;
    height: 85%;
    width:90%;
    background-color: #363434;
	color: rgb(255, 251, 251);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}

section.contents div.imagen{
    width: 100%;
    height: 50%;
    display: inline-block;
    float: left;
	text-align: center;
}

section.contents div.titulo{
    width: 100%;
    height: 5%;
    display: inline-block;
    float: left;
	text-align: center;
}

section.contents div.audio{
    width: 100%;
    height: 10%;
    display: inline-block;
    float: left;
	text-align: center;
}

section.contents h1{
    width: 20px;
    height: 20px;
    clear: both;
}
section.contents p{
    width: 100%;
    height: 20px;
}
section.contents div.imagen img{
    width: 25%;
}

section.contents header{
    width: 100%;
    height:5%;
    margin: 0;
}

section.contents a.buscar{
    text-decoration: none;
    color: transparent;
    margin: 4%;
}

section.contents a.buscar:hover{
    text-decoration: none;
    color: transparent;
    cursor: pointer;
}

section.contents a.activado {
    color : #FF307B;
    background-color: floralwhite;
    text-align: center;
    padding: 0.75em;
    border-radius: 1em;
    font-size: 15px;
    text-decoration: none;
    height: fit-content;
    float: right;
    margin-right: 15%;
    margin-left: 75%;
}

section.contents a.activado:hover {
    cursor: pointer;
}