body {
    background-color: #363434;
    margin: 0;
}


section.contents img{
    width: 300px;
    text-align: center;
    position: absolute;
}


section.contents {
    margin-left: 100px;
    margin-bottom: 100px;
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    text-align: center;
}

section.contents h3 {
    color: rgb(255, 251, 251);
}

h1 a {
    color: #FF307B;
}

