
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(110, 110, 110);
}

/* ------------------------- */
/* Menu de navegacion */
/* ------------------------- */
footer {
  background-color: black;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  clip-path: circle(100% at 50% 0);
  bottom: 0;
  flex-direction: row;
  transition: .7s ease all;
}

footer section.center-footer span.logo-circle{
  display: none;
}
footer.active section.center-footer span.logo-circle{
  display: block;
}

footer.active section.center-footer span.logo-circle img{
  width: 20px;
}

footer.active {
  clip-path: circle(50px at 50% 50%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer.active section.center-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}

footer.active section.center-footer span.up-center{
  display: none;
}
footer.active section.center-footer span.half-center{
  display: none;
}
footer.active section.center-footer span.down-center{
  display: none;
}


footer section.left-footer{
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 20%;
  background-color: white;
}

footer section.center-footer{
  height: 100%;
  display: flex;
  width: 50%;
  flex-direction: column;
  width: 60%;
  text-align: center;

}
footer section.center-footer span.down-center img{
  width: 5px; 
}

footer section.center-footer span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

footer section.center-footer span.up-center i{
  width: 100px;
  margin: 10px;
}
footer section.center-footer span.half-center div {
	 background-color: #404040;
   height: 4px;
   width: 60%;
   border-radius: 2px;
}

footer section.center-footer span.half-center p{
  margin: 10px;
}
footer section.center-footer span.half-center div p{
   background-color: #a0a0a0;
   height: 4px;
   width: 0px;
   border-radius: 2px;
}

.progressBar{
  margin-left: 10px;
  margin-right: 10px
}


footer.active section.center-footer span.logo-circle img:hover{
  animation: rotar 1.5s alternate;
}

footer section.center-footer span.down-center img{
  animation: rotar 1.5s alternate;
}

@keyframes rotar {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(10deg);}
  40% {transform: rotate(-15deg);}
  60% {transform: rotate(15deg);}
  80% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}
 
footer section.right-footer{
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 20%;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
footer section.right-footer span{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
footer section.right-footer span div {
  background-color: #404040;
  height: 4px;
  width: 60%;
  border-radius: 2px;
  margin: 0px;
  padding: 0px;
}
footer section.right-footer span p{
  margin-right: 5px;
  padding: 0px;

}
footer section.right-footer span div p{
  background-color: #a0a0a0;
  height: 4px;
  width: 0px;
  border-radius: 2px;
}






  
