body {
    background-color: #363434;
    margin: 0;
}

section.contents{
    margin-left: 11%;
	margin-top: 5%;
    height: 85%;
    width:90%;
    background-color: #363434;
	color: rgb(255, 251, 251);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}

section.contents div.imagen{
    width: 100%;
    height: 50%;
    display: inline-block;
    float: left;
	text-align: center;
}

section.contents div.titulo{
    width: 100%;
    height: 10%;
    display: inline-block;
    float: left;
	font-size: 3em;
	text-align: center;
}

section.contents div.contenido{
    width: 100%;
    height: 35%;
    display: inline-block;
    float: left;
	text-align: center;
}

section.contents h1{
    width: 20px;
    height: 20px;
    clear: both;
}
section.contents p{
    width: 100%;
    height: 20px;
}
section.contents div.imagen img{
    width: 30%;
}

section.contents header{
    width: 100%;
    height:5%;
    margin: 0;
}

a{
	
	color: rgb(255, 251, 251);
	
}
