body {
	background-color:  #FFCDB2;
	color:  #abcdef;
	font-family: monospace;
	font-size: 18px; 
}
h1 {
	font-size: 30px; 
}
p {

}

a {
	background-color:  #FFB4A2;
	color:  #abcdef;
	font-family: monospace;
	font-size: 18px;
}

em {
	font-weight: bold;
}