body {
	background-color: floralwhite;
}

div#contenedor {
	background-color: floralwhite;
	margin: auto;
}

div#cabecera{
	background-color: black;
	height: 200px;
}

div#cabecera a {
	color : floralwhite;
	background-color: #FF307B;
	float: right;
	text-align: center;
	padding: 17px;
	border-radius: 100px;
	font-size: 15px;
	text-decoration: none;
}

div#cabeceraInicio {
	height: 120px;
	background-color: black;
}

div#cabeceraInicio a {
	color : floralwhite;
	background-color: #FF307B;
	float: right;
	text-align: center;
	padding: 17px;
	border-radius: 100px;
	font-size: 15px;
	text-decoration: none;
}

div#cabeceraInicio img {
	height: 150px;
	width: 150px;
	float: left;
	padding-left: 25px;
}

div#sidebarLeft {
	float: left;
	background-color: black;
	width: 200px;
	min-height: 830px;
}

div#contenidoInicio {
	height: 100%;
	margin-left: 200px;
	padding: 30px;
	background-color: floralwhite;
	color: black;
}

div#contenido fieldset {
	border: 1px solid black;
	width: 300px;
	height: 320px;
	margin: 0;
	position: absolute;
	padding: 30px 40px;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div#contenido fieldset div#s1 {
	float: top;
}

div#contenido fieldset div#s1 input {
	width: 100%;
	height: 30px;
}

div#contenido fieldset div#s2 {
	text-align: center;
	padding-top: 35%;
}

div#contenido fieldset div#s3 {
	text-align: center;
}

#error {
	color: firebrick;
	text-align: center;
}

legend {
	color: #FF307B;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
}