body {
	background-image: url("img/fondo.jpg");
	background-size: contain;
	background-attachment: fixed;
}

div#contenedor {
	margin: auto;
	background-color: transparent;
	width: 1400px;
}

div#cabecera {
	padding: 30px;
	background-color: black;
	color: white;
}

div#sidebar-left {
	padding: 10px;
	float: left;
	width: 160px;
	height: 750px;
	background-color: transparent;
}

div#sidebar-left a, div#sidebar-left a:visited {
	color: white;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
} 

div#sidebar-left a:hover {
	color: white;
	font-family: arial;
	text-decoration: underline;
} 

div#sidebar-left li {
	list-style-type: none;
}

div#sidebar-left h3 {
	top:37%;
	position: fixed;
	font-size: 20px;
	text-align: center;
}

div#sidebar-left h2 {
	font-size: 50px;
	position: fixed;
	color: #FF307B;
}

div#contenido a, div#contenido a:visited {
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}

div#contenido legend {
	color: #FF307B;
}

div#contenido h1 {
	font-size: 50px;
	color: grey;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
} 

div#contenido {
	padding: 10px;
	float: left;
	min-height: 750px;
	width: 1200px;
	background-color: white;

}

fieldset {
	border: 1px solid black;
	width: 15em;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

a.enlaces {
	color: #E5989B; 
}

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

button {
	margin-left: 100px;
} 