body {
	background-image: url("img/fondo.jpg");
	background-size: contain;
	background-attachment: fixed;
}

div#contenedor {
	margin: auto;
	background-color: transparent;
	width: 1400px;
}

div#cabecera {
	padding: 30px;
	background-color: black;
	color: white;
}

div#sidebar-left {
	padding: 10px;
	float: left;
	width: 160px;
	height: 750px;
	background-color: transparent;
}

div#sidebar-left a, div#sidebar-left a:visited {
	color: white;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
} 

div#sidebar-left a:hover {
	color: white;
	font-family: arial;
	text-decoration: underline;
}

div#sidebar-left h3 {
	top:37%;
	position: fixed;
	font-size: 20px;
	text-align: center;
}

div#sidebar-left h2 {
	font-size: 50px;
	position: fixed;
	color: #FF307B;
}

div#contenido a, div#contenido a:visited {
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}

div#contenido legend {
	color: #FF307B;
}

div#contenido h1 {
	font-size: 50px;
	color: grey;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
} 

div#contenido {
	padding: 10px;
	float: left;
	min-height: 750px;
	width: 1200px;
	background-color: white;
	font-size: 20px;
	font-family: cursive;
}

div#contenido p {
	font-size: 20px;
	font-family: cursive;
	font-weight: normal;
}

div#contenido h3 {
	font-size: 20px;
	font-weight: bold;

}

fieldset {
	border: 1px solid black;
	width: 15em;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

a.enlaces {
	color: #ff3366;
}

button {
	margin-left: 100px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: cursive;
	font-weight: normal;
}

th, td {
	padding: 0.3em;
	width: 12.5%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	font-family: cursive;
	font-weight: normal;
}

table tr:nth-child(1) {
	color: #FF307B;
	background-color: #000;
}

img.foto {
	width:20%;
}

ol img {
	width: 95%;
}