body {
	background-color: floralwhite;
}

div#contenedor {
	background-color: black;
}

div#cabecera {

}

div#cabecera a {
	color : floralwhite;
	background-color: #FF307B;
	float: right;
	text-align: center;
	padding: 40px 40px;
	border-radius: 100px;
	padding: 17px;
	font-size: 15px;
	text-decoration: none;
}

div#sidebar-left {

}


div#contenido fieldset {
	border: 1px solid black;
	width: 300px;
	height: 300px;
	margin: 0;
	position: absolute;
	padding: 30px 40px;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div#contenido fieldset div#s1 {
	float: top;
}

div#contenido fieldset div#s1 input {
	width: 100%;
	height: 30px;
}

div#contenido fieldset div#s2 {
	text-align: center;
	padding-top: 25%;
}

legend {
	color: #FF307B;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
}