body {
	background-color:  #ffe5d9;
	color:  #6D6875;
	font-family: monospace;
	font-size: 18px; 
}

h1 {
	font-size: 50px;
	color: #6D6875;
}

a {
	color:  #B5838D;
	font-family: monospace;
	font-size: 18px;
}

em {
	font-weight: bold;
}
